body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}
p {
  text-align: center;
}
button {
  display: block;
  margin: 0 auto;
  outline: none;
  border: 2px solid #000;
  padding: 0.5rem;
  cursor: pointer;
  background: transparent;
  border-radius: 4px;
}

button:hover {
  text-decoration: underline;
}

li {
  margin-bottom: 1rem;
}
